.heroBanner {
    display: flex;
    height: calc(100vh - 50px);
    
}

.heroBanner-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.heroBanner-right {
    flex: 1;
    display: flex;
    align-items: flex-end;
    position: relative;
}

.hero-image {
    position: absolute;
    overflow: hidden;
    object-fit: cover;
    background-color: greenyellow;
    top: 0;
    right: 30px;

}

