.products {
   padding: 30px 50px;
   display: flex; 
}

.products-left-side{
  flex: 1;
  position: sticky;
  height: 100%;
  top: 50px;

}

.products-left-side-filter-item {
   margin-bottom: 30px;
}

.products-left-side-filter-item h2 {
    font-size: 400;
    margin-bottom: 20px;
}

.products-left-side-filter-item-input-item {
    margin-bottom: 10px;
}

.products-left-side-filter-item-input-item label {
    margin-left: 10px;
}

.products-right-side{
   flex: 3;
}

.products-right-side-catImg{
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 50px;
}